$palette: ('base': ('primary': #FF397F,
        'secondary': #76E7E5),
    'monochrome': ('light': #ffffff,
        'dark': #000000,
        'base': #D6D6D6));

$palette-primary: map-get(map-get($palette, base), primary);
$palette-secondary: map-get(map-get($palette, base), secondary);
$palette-white: map-get(map-get($palette, monochrome), light);
$palette-black: map-get(map-get($palette, monochrome), dark);
$palette-grey: map-get(map-get($palette, monochrome), base)