

.details-page {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .details-page-menu-container {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    width: 50vw;
  }
  .details-text-container {
    background-color: $palette-white;
    border-radius: 30px;      
    height: 40vh;
    padding: 24px;
    width: 50vw;
    overflow: hidden;
    .details-text-wrapper {
      text-align: justify;
      overflow-y: auto;
      overflow-wrap: break-word;
      height: 75%;
      width: 50vw;
      background-color: $palette-white;
      p {
        text-transform: capitalize;
        max-width: 100%;
        overflow: hidden auto;
        max-height: 200px;
      }
    }
  }
}