.results-page {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-content: center;
  .results-container {
    .results-wrapper {
      align-self: center
    }
  }
  .results-menu-wrapper {
    margin: 24px;
  }
}