.search-page {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-content: center;
  .search-input-text {
    border-radius: 20px;
    font-size: 1em;
    padding: 5px 10px;
  }
  #language-selector {
    border-radius: 20px;
    font-size: 1em;    
    padding: 5px 10px;
  }
  #error-container {
    display: none;
    width: 100vw;
    position: absolute;
    color: $palette-secondary;
    font-weight: bold 
  }
}