@import './base/buttons';
@import './base/colors';
@import './base/typography';
@import './components/categories';
@import './components/playlists';
@import './helpers/variables';
@import './base/animations.scss';

body,
html {
    color: $palette-white;
    margin: 0;
    font-size: $fontSize-l;
    list-style-type: none;
    height: 100%;
}